<div class="confirmFeedback">
    <div class="during">
        <a class="yes">{{yes}}</a>
        <br/>
        <a class="no">{{no}}</a>
    </div>
    <div class="after">
        {{thanks}}
    </div>
</div>