<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grundlagenmodul Recherekompetenz</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="style.css">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    <script src="js/jquery-3.1.1.min.js"></script>
</head>

<body>

<div class="reveal">
    <script src="dependencies/reveal.js/lib/js/head.min.js"></script>
    <script src="dependencies/reveal.js/js/reveal.js"></script>

    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides">
        {{> page1 }}
        <section>
            {{> page2 }}
            {{> page3 }}
            {{> page4 }}
            {{> page5 }}
        </section>
        <section>

            {{> page6 }}
            {{> page7 }}

        </section>
        <section>
            <section>
                <h2 class="icon icon-information">Verknüpfen</h2>
                <p>
                    Eine Form der Verknüpfung kennen Sie aus dem Umgang mit Suchmaschinen: Wenn Sie mehrere Suchbegriffe, durch Leerzeichen voneinander getrennt, hintereinander schreiben, erhalten Sie
                    Treffer, in denen alle Suchbegriffe vorkommen, unabhängig von der Reihenfolge und den Zusammenhängen. In manchen Ressourcen werden diese Verknüpfungs-Operatoren durch Zeichen oder
                    Wörter dargestellt, in manchen durch Felder zum Anklicken.
                </p>
                <p>
                    Nachfolgend finden Sie die wichtigsten Verknüpfungsoperatoren und Beispiele.
                </p>
                <h3>
                    Leerzeichen, +, UND, und, AND, and
                </h3>
                <p>
                    Diese Verknüpfungsoperatoren finden alle Treffer, in denen alle verknüpften Suchbegriffe vorkommen
                </p>
                <h4 class="icon icon-example">
                    Beispiel
                </h4>
                <p>
                    Die Eingabe <span class="searchPhrase">mankiw UND volkswirtschaftslehre</span> findet
                </p>
                <ul>
                    <li>
                        Mankiw: Grundzüge der Volkswirtschaftslehre
                    </li>
                </ul>
                <h3>
                    /, ODER, oder, OR, or
                </h3>
                <p>
                    findet alle Treffer, in denen mindestens ein Suchbegriff vorkommt.
                </p>
                <p>
                    <strong>Achtung!</strong> Anders als im normalen Sprachgebrauch handelt es sich hier nicht um ein
                    exklusives ODER („Christin oder Jakob machen den Abwasch“), sondern um ein inklusives ODER („Christin oder Jakob oder beide …“)!
                </p>
                <h4 class="icon icon-example">
                    Beispiel
                </h4>
                <p>
                    Die Eingabe <span class="searchPhrase">mankiw ODER volkswirtschaftslehre</span> findet
                </p>
                <ul>
                    <li>
                        Mankiw: Makroökonomik – mit vielen Fallbeispielen
                    </li>
                    <li>
                        Ending: Volkswirtschaftslehre – schnell erfasst
                    </li>
                    <li>
                        Mankiw: Grundzüge der Volkswirtschaftslehre
                    </li>
                </ul>
                <h3>
                    -, NICHT, nicht, NOT, not
                </h3>
                <p>
                    findet alle Treffer, in denen der markierte Suchbegriff nicht vorkommt.
                </p>
                <p>
                    Vorsicht: Sie schließen dabei möglicherweise interessante Treffer aus, weil zufällig der Suchbegriff in ihm vorkommt!
                </p>
                <h4 class="icon icon-example">
                    Beispiel
                </h4>
                <p>
                    Die Eingabe <span class="searchPhrase">volkswirtschaftslehre NOT mankiw findet</span> findet
                </p>
                <ul>
                    <li>
                        Ending: Volkswirtschaftslehre – schnell erfasst
                    </li>
                </ul>
                <h3>
                    NEAR, Within, Adj
                </h3>
                <p>
                    legt die maximalen Abstände zwischen den Suchbegriffen und eventuel ihre Reihenfolge fest. Siehe Hilfetext der Ressourcen!
                </p>
                <h4 class="icon icon-example">
                    Beispiele
                </h4>
                <p>
                    Die Eingabe <span class="searchPhrase">gesellschaft w/2 medien</span> (w/2 bedeutet, dass nicht mehr als 2 Worte zwischen den Suchbegriffen liegen) findet:
                </p>
                <ul>
                    <li>
                        Müller: Gesellschaft und Medien
                    </li>
                    <li>
                        Ziemann: Medien der Gesellschaft – Gesellschaft der Medien
                    </li>
                    <li>
                        Kamps: Die offene Gesellschaft und ihre Medien
                    </li>
                </ul>
                <div class="navigation withPrev withNext"></div>

            </section>

            <section>
                <h2 class="icon icon-information">Verknüpfen mit verschiedenen Operatoren</h2>
                <p>
                    Wollen Sie mehr als zwei Suchbegriffe mit unterschiedlichen Operatoren verknüpfen, so müssen Sie Klammern setzen, um deutlich zu machen, in welcher Reihenfolge die Verknüpfungen
                    abgearbeitet werden sollen.
                </p>
                <h4 class="icon icon-example">
                    Beispiele
                </h4>
                <ol>
                    <li class="searchPhrase">
                        (qualitätsmanagement ODER qm) UND sozial*
                    </li>
                    <li class="searchPhrase">
                        (qualitätsmanagement ODER qm) UND („soziale arbeit“ ODER sozialarbeit)
                    </li>
                </ol>
                <p>
                    Damit haben Sie die Suche präkombiniert, d.h. Sie haben die Suche vor der Abfrage vollständig formuliert.
                </p>
                <p>
                    Eine andere Methode ist die Postkoordination: Dabei führen Sie die Abfragen nacheinander einzeln durch, rufen die Suchgeschichte auf und koordinieren die Ergebnisse im Nachhinein.
                    Manchmal ist es günstiger, die Treffermengen nach und nach einzuschränken.
                </p>

                <h4 class="icon icon-example">
                    Beispiele
                </h4>
                <p>
                    Sie führen nacheinander die Suche nach den folgenden Begriffen durch:
                </p>
                <ol>
                    <li>
                        qualitätsmanagement => Ergebnis 1
                    </li>
                    <li>
                        qm => Ergebnis 2
                    </li>
                    <li>
                        „soziale arbeit“ => Ergebnis 3
                    </li>
                    <li>
                        Sozialarbeit => Ergebnis 4
                    </li>
                </ol>
                <p>
                    Sie rufen die Suchgeschichte auf und koordinieren diese vier Ergebnisse im Nachhinein:
                </p>
                <ol start="5">
                    <li>
                        Ergebnis 1 ODER Ergebnis 2 – Ergebnis 5
                    </li>
                    <li>
                        Ergebnis 3 ODER Ergebnis 4 – Ergebnis 6
                    </li>
                </ol>
                <p>
                    Nun koordinieren Sie auch noch die Ergebnisse der Suchen 5 und 6:
                </p>
                <ol>
                    <li>
                        Ergebnis 5 UND Ergebnis 6 - führt zur selben Treffermenge wie im 2. Beispiel oben
                    </li>
                </ol>
                <div class="navigation withPrev withNext"></div>

            </section>
            <section class="with-exercise">
                <h2 class="icon icon-exercise">Übung - UND</h2>
                <p>Sie können nun diese Tipps im Recherchecafé ausprobieren. Aber Achtung! Im Recherchecafé bekommen Sie nur das, was Sie bestellen, und das ist nicht immer das, was Sie auch wünschen.
                </p>
                <p>

                </p>
                <form class="exercise">

                    <div class="table">
                        <div class="tableHead">
                            Sie wünschen Kaffee mit Sahne und bestellen mit der Eingabe <span class="searchPhrase">kaffee UND sahne</span>.<br/>
                            Bitte markieren Sie alles, was Sie bekommen.
                        </div>
                        <div class="elem">
                            <div>Café au Lait</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Café au Lait">
                            </div>
                            <div>Kaffee mit Milch in einer Boule, Zucker separat</div>
                        </div>

                        <div class="elem">
                            <div>Einspänner</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Einspänner">
                            </div>
                            <div>Doppelmokka im Glas mit Schlagobershaube und Hohlhippe</div>
                        </div>

                        <div class="elem">
                            <div>Eiskaffee englisch</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Eiskaffee englisch">
                            </div>
                            <div>ein Drittel Kaffee, ein Drittel Eis, ein Drittel Obers</div>
                        </div>

                        <div class="elem">
                            <div>Fiaker</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Fiaker">
                            </div>
                            <div>Doppelmokka im Henkelglas mit einem Schuss Kirschwasser gespritzt, mit Schlagobershaube und Cocktailkirsche</div>
                        </div>

                        <div class="elem">
                            <div>Franziskaner</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Franziskaner">
                            </div>
                            <div>leichte Melange mit Schlagobers und Schokostreuseln</div>
                        </div>

                        <div class="elem">
                            <div>Häferlkaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Häferlkaffee">
                            </div>
                            <div>Großer Brauner (doppelter Mokka mit Kaffeeobers) im Häferl statt in der großen Schale</div>
                        </div>

                        <div class="elem">
                            <div>Kännchen Kaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Kännchen Kaffee">
                            </div>
                            <div>Kaffee im Kännchen (ca. 2 Tassen), separat Kaffeesahne und Zucker</div>
                        </div>

                        <div class="elem">
                            <div>Kleiner Brauner</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Kleiner Brauner">
                            </div>
                            <div>einfacher Mokka mit Milch oder Obers in kleiner Schale</div>
                        </div>

                        <div class="elem">
                            <div>Latte Macchiato</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Latte Macchiato">
                            </div>
                            <div>“gefleckte Milch”, aufgeschäumte warme Milch mit Espresso</div>
                        </div>

                        <div class="elem">
                            <div>Maria Theresia</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Maria Theresia">
                            </div>
                            <div>ein großer Mokka mit einem Schuss Orangenlikör, Schlagobershaube und verziert mit Orangenzesten</div>
                        </div>

                        <div class="elem">
                            <div>Melange</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Melange">
                            </div>
                            <div>halb Kaffee, halb heiße geschäumte Milch, mit Milchschaumhäubchen</div>
                        </div>

                        <div class="elem">
                            <div>Milchkaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Milchkaffee">
                            </div>
                            <div>Kaffee mit Milch(-Schaum)</div>
                        </div>

                        <div class="elem">
                            <div>Pharisäer</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Pharisäer" data-correct-state="true">
                            </div>
                            <div>schwarzer Kaffee mit Rum und einer Haube Schlagsahne überdeckt mit Schokoraspeln auf der Sahne serviert</div>
                        </div>

                        <div class="elem">
                            <div>Rüdesheimer Kaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Rüdesheimer Kaffee" data-correct-state="true">
                            </div>
                            <div>Kaffee mit Weinbrand flambiert, mit einem Schlag Sahne, Vanillezucker und Schokoladestreusel</div>
                        </div>

                        <div class="elem">
                            <div>Türk Kahvesi</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Türk Kahvesi">
                            </div>
                            <div>feinst gemahlener Kaffee, mit Zucker im Kupferkännchen aufgekocht</div>
                        </div>

                        <div class="elem">
                            <div>Verkehrter</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Verkehrter">
                            </div>
                            <div>Kaffee mit 2/3 Milch und 1/3 Kaffee</div>
                        </div>

                        <div class="elem">
                            <div>Verlängerter</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Verlängerter">
                            </div>
                            <div>die Dosierung eines kleinen Schwarzen wird mit der Wassermenge eines großen Schwarzen zubereitet</div>
                        </div>

                        <div class="elem">
                            <div>Wiener Eiskaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Wiener Eiskaffee">
                            </div>
                            <div>köstliches Vanilleeis, doppelter Mokka, Schlagobershaube, Kaffeebohne und Hohlhippe</div>
                        </div>
                        <div class="tableBottom"><a href class="send">Bestellen</a></div>
                    </div>
                    <br/>

                </form>
                <div class="navigation withPrev withNext"></div>

            </section>
            <section class="with-exercise">
                <h2 class="icon icon-exercise">Übung - ODER</h2>
                <p>Sie können nun diese Tipps im Recherchecafé ausprobieren. Aber Achtung! Im Recherchecafé bekommen Sie nur das, was Sie bestellen, und das ist nicht immer das, was Sie auch wünschen.
                </p>
                <p>

                </p>
                <form class="exercise">

                    <div class="table">
                        <div class="tableHead">
                            Sie wünschen Kaffee mit Schlagsahne oder Schlagobers<br/> und bestellen mit der Eingabe <span class="searchPhrase">schlagsahne ODER schlagobers</span>.<br/>
                            Bitte markieren Sie alles, was Sie bekommen.
                        </div>
                        <div class="elem">
                            <div>Café au Lait</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Café au Lait">
                            </div>
                            <div>Kaffee mit Milch in einer Boule, Zucker separat</div>
                        </div>

                        <div class="elem">
                            <div>Einspänner</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Einspänner">
                            </div>
                            <div>Doppelmokka im Glas mit Schlagobershaube und Hohlhippe</div>
                        </div>

                        <div class="elem">
                            <div>Eiskaffee englisch</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Eiskaffee englisch">
                            </div>
                            <div>ein Drittel Kaffee, ein Drittel Eis, ein Drittel Obers</div>
                        </div>

                        <div class="elem">
                            <div>Fiaker</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Fiaker">
                            </div>
                            <div>Doppelmokka im Henkelglas mit einem Schuss Kirschwasser gespritzt, mit Schlagobershaube und Cocktailkirsche</div>
                        </div>

                        <div class="elem">
                            <div>Franziskaner</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Franziskaner" data-correct-state="true">
                            </div>
                            <div>leichte Melange mit Schlagobers und Schokostreuseln</div>
                        </div>

                        <div class="elem">
                            <div>Häferlkaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Häferlkaffee">
                            </div>
                            <div>Großer Brauner (doppelter Mokka mit Kaffeeobers) im Häferl statt in der großen Schale</div>
                        </div>

                        <div class="elem">
                            <div>Kännchen Kaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Kännchen Kaffee">
                            </div>
                            <div>Kaffee im Kännchen (ca. 2 Tassen), separat Kaffeesahne und Zucker</div>
                        </div>

                        <div class="elem">
                            <div>Kleiner Brauner</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Kleiner Brauner">
                            </div>
                            <div>einfacher Mokka mit Milch oder Obers in kleiner Schale</div>
                        </div>

                        <div class="elem">
                            <div>Latte Macchiato</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Latte Macchiato">
                            </div>
                            <div>“gefleckte Milch”, aufgeschäumte warme Milch mit Espresso</div>
                        </div>

                        <div class="elem">
                            <div>Maria Theresia</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Maria Theresia">
                            </div>
                            <div>ein großer Mokka mit einem Schuss Orangenlikör, Schlagobershaube und verziert mit Orangenzesten</div>
                        </div>

                        <div class="elem">
                            <div>Melange</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Melange">
                            </div>
                            <div>halb Kaffee, halb heiße geschäumte Milch, mit Milchschaumhäubchen</div>
                        </div>

                        <div class="elem">
                            <div>Milchkaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Milchkaffee">
                            </div>
                            <div>Kaffee mit Milch(-Schaum)</div>
                        </div>

                        <div class="elem">
                            <div>Pharisäer</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Pharisäer" data-correct-state="true">
                            </div>
                            <div>schwarzer Kaffee mit Rum und einer Haube Schlagsahne überdeckt mit Schokoraspeln auf der Sahne serviert</div>
                        </div>

                        <div class="elem">
                            <div>Rüdesheimer Kaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Rüdesheimer Kaffee">
                            </div>
                            <div>Kaffee mit Weinbrand flambiert, mit einem Schlag Sahne, Vanillezucker und Schokoladestreusel</div>
                        </div>

                        <div class="elem">
                            <div>Türk Kahvesi</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Türk Kahvesi">
                            </div>
                            <div>feinst gemahlener Kaffee, mit Zucker im Kupferkännchen aufgekocht</div>
                        </div>

                        <div class="elem">
                            <div>Verkehrter</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Verkehrter">
                            </div>
                            <div>Kaffee mit 2/3 Milch und 1/3 Kaffee</div>
                        </div>

                        <div class="elem">
                            <div>Verlängerter</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Verlängerter">
                            </div>
                            <div>die Dosierung eines kleinen Schwarzen wird mit der Wassermenge eines großen Schwarzen zubereitet</div>
                        </div>

                        <div class="elem">
                            <div>Wiener Eiskaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Wiener Eiskaffee">
                            </div>
                            <div>köstliches Vanilleeis, doppelter Mokka, Schlagobershaube, Kaffeebohne und Hohlhippe</div>
                        </div>
                        <div class="tableBottom"><a href class="send">Bestellen</a></div>
                    </div>
                    <br/>

                </form>
                <div class="navigation withPrev withNext"></div>

            </section>
            <section class="with-exercise">
                <h2 class="icon icon-exercise">Übung - Präkombination 1</h2>
                <p>Sie können nun diese Tipps im Recherchecafé ausprobieren. Aber Achtung! Im Recherchecafé bekommen Sie nur das, was Sie bestellen, und das ist nicht immer das, was Sie auch wünschen.
                </p>
                <p>

                </p>
                <form class="exercise">

                    <div class="table">
                        <div class="tableHead">
                            Sie wünschen Kaffee oder Mokka mit Sahne oder Obers und bestellen<br/>
                            mit der Eingabe <span class="searchPhrase">(kaffee ODER mokka) UND (sahne ODER obers)</span>.<br/>
                            Bitte markieren Sie alles, was Sie bekommen.
                        </div>
                        <div class="elem">
                            <div>Café au Lait</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Café au Lait">
                            </div>
                            <div>Kaffee mit Milch in einer Boule, Zucker separat</div>
                        </div>

                        <div class="elem">
                            <div>Einspänner</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Einspänner">
                            </div>
                            <div>Doppelmokka im Glas mit Schlagobershaube und Hohlhippe</div>
                        </div>

                        <div class="elem">
                            <div>Eiskaffee englisch</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Eiskaffee englisch" data-correct-state="true">
                            </div>
                            <div>ein Drittel Kaffee, ein Drittel Eis, ein Drittel Obers</div>
                        </div>

                        <div class="elem">
                            <div>Fiaker</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Fiaker">
                            </div>
                            <div>Doppelmokka im Henkelglas mit einem Schuss Kirschwasser gespritzt, mit Schlagobershaube und Cocktailkirsche</div>
                        </div>

                        <div class="elem">
                            <div>Franziskaner</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Franziskaner">
                            </div>
                            <div>leichte Melange mit Schlagobers und Schokostreuseln</div>
                        </div>

                        <div class="elem">
                            <div>Häferlkaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Häferlkaffee">
                            </div>
                            <div>Großer Brauner (doppelter Mokka mit Kaffeeobers) im Häferl statt in der großen Schale</div>
                        </div>

                        <div class="elem">
                            <div>Kännchen Kaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Kännchen Kaffee">
                            </div>
                            <div>Kaffee im Kännchen (ca. 2 Tassen), separat Kaffeesahne und Zucker</div>
                        </div>

                        <div class="elem">
                            <div>Kleiner Brauner</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Kleiner Brauner" data-correct-state="true">
                            </div>
                            <div>einfacher Mokka mit Milch oder Obers in kleiner Schale</div>
                        </div>

                        <div class="elem">
                            <div>Latte Macchiato</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Latte Macchiato">
                            </div>
                            <div>“gefleckte Milch”, aufgeschäumte warme Milch mit Espresso</div>
                        </div>

                        <div class="elem">
                            <div>Maria Theresia</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Maria Theresia">
                            </div>
                            <div>ein großer Mokka mit einem Schuss Orangenlikör, Schlagobershaube und verziert mit Orangenzesten</div>
                        </div>

                        <div class="elem">
                            <div>Melange</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Melange">
                            </div>
                            <div>halb Kaffee, halb heiße geschäumte Milch, mit Milchschaumhäubchen</div>
                        </div>

                        <div class="elem">
                            <div>Milchkaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Milchkaffee">
                            </div>
                            <div>Kaffee mit Milch(-Schaum)</div>
                        </div>

                        <div class="elem">
                            <div>Pharisäer</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Pharisäer" data-correct-state="true">
                            </div>
                            <div>schwarzer Kaffee mit Rum und einer Haube Schlagsahne überdeckt mit Schokoraspeln auf der Sahne serviert</div>
                        </div>

                        <div class="elem">
                            <div>Rüdesheimer Kaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Rüdesheimer Kaffee" data-correct-state="true">
                            </div>
                            <div>Kaffee mit Weinbrand flambiert, mit einem Schlag Sahne, Vanillezucker und Schokoladestreusel</div>
                        </div>

                        <div class="elem">
                            <div>Türk Kahvesi</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Türk Kahvesi">
                            </div>
                            <div>feinst gemahlener Kaffee, mit Zucker im Kupferkännchen aufgekocht</div>
                        </div>

                        <div class="elem">
                            <div>Verkehrter</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Verkehrter">
                            </div>
                            <div>Kaffee mit 2/3 Milch und 1/3 Kaffee</div>
                        </div>

                        <div class="elem">
                            <div>Verlängerter</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Verlängerter">
                            </div>
                            <div>die Dosierung eines kleinen Schwarzen wird mit der Wassermenge eines großen Schwarzen zubereitet</div>
                        </div>

                        <div class="elem">
                            <div>Wiener Eiskaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Wiener Eiskaffee">
                            </div>
                            <div>köstliches Vanilleeis, doppelter Mokka, Schlagobershaube, Kaffeebohne und Hohlhippe</div>
                        </div>
                        <div class="tableBottom"><a href class="send">Bestellen</a></div>
                    </div>
                    <br/>

                </form>
                <div class="navigation withPrev withNext"></div>

            </section>
            <section class="with-exercise">
                <h2 class="icon icon-exercise">Übung - Präkombination 2</h2>
                <p>Sie können nun diese Tipps im Recherchecafé ausprobieren. Aber Achtung! Im Recherchecafé bekommen Sie nur das, was Sie bestellen, und das ist nicht immer das, was Sie auch wünschen.
                </p>
                <p>

                </p>
                <form class="exercise">

                    <div class="table">
                        <div class="tableHead">
                            Sie wünschen Kaffee oder Mokka mit Sahne oder Obers und bestellen<br/>
                            mit der Eingabe <span class="searchPhrase">(*kaffee* ODER *mokka*) UND (*sahne* ODER *obers*)</span>.<br/>
                            Bitte markieren Sie alles, was Sie bekommen.
                        </div>
                        <div class="elem">
                            <div>Café au Lait</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Café au Lait">
                            </div>
                            <div>Kaffee mit Milch in einer Boule, Zucker separat</div>
                        </div>

                        <div class="elem">
                            <div>Einspänner</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Einspänner" data-correct-state="true">
                            </div>
                            <div>Doppelmokka im Glas mit Schlagobershaube und Hohlhippe</div>
                        </div>

                        <div class="elem">
                            <div>Eiskaffee englisch</div>
                            <div>
                                <input type="checkbox" name="drink" value="Eiskaffee englisch" data-correct-state="true">
                            </div>
                            <div>ein Drittel Kaffee, ein Drittel Eis, ein Drittel Obers</div>
                        </div>

                        <div class="elem">
                            <div>Fiaker</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Fiaker" data-correct-state="true">
                            </div>
                            <div>Doppelmokka im Henkelglas mit einem Schuss Kirschwasser gespritzt, mit Schlagobershaube und Cocktailkirsche</div>
                        </div>

                        <div class="elem">
                            <div>Franziskaner</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Franziskaner">
                            </div>
                            <div>leichte Melange mit Schlagobers und Schokostreuseln</div>
                        </div>

                        <div class="elem">
                            <div>Häferlkaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Häferlkaffee" data-correct-state="true">
                            </div>
                            <div>Großer Brauner (doppelter Mokka mit Kaffeeobers) im Häferl statt in der großen Schale</div>
                        </div>

                        <div class="elem">
                            <div>Kännchen Kaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Kännchen Kaffee" data-correct-state="true">
                            </div>
                            <div>Kaffee im Kännchen (ca. 2 Tassen), separat Kaffeesahne und Zucker</div>
                        </div>

                        <div class="elem">
                            <div>Kleiner Brauner</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Kleiner Brauner" data-correct-state="true">
                            </div>
                            <div>einfacher Mokka mit Milch oder Obers in kleiner Schale</div>
                        </div>

                        <div class="elem">
                            <div>Latte Macchiato</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Latte Macchiato">
                            </div>
                            <div>“gefleckte Milch”, aufgeschäumte warme Milch mit Espresso</div>
                        </div>

                        <div class="elem">
                            <div>Maria Theresia</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Maria Theresia" data-correct-state="true">
                            </div>
                            <div>ein großer Mokka mit einem Schuss Orangenlikör, Schlagobershaube und verziert mit Orangenzesten</div>
                        </div>

                        <div class="elem">
                            <div>Melange</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Melange">
                            </div>
                            <div>halb Kaffee, halb heiße geschäumte Milch, mit Milchschaumhäubchen</div>
                        </div>

                        <div class="elem">
                            <div>Milchkaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Milchkaffee">
                            </div>
                            <div>Kaffee mit Milch(-Schaum)</div>
                        </div>

                        <div class="elem">
                            <div>Pharisäer</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Pharisäer" data-correct-state="true">
                            </div>
                            <div>schwarzer Kaffee mit Rum und einer Haube Schlagsahne überdeckt mit Schokoraspeln auf der Sahne serviert</div>
                        </div>

                        <div class="elem">
                            <div>Rüdesheimer Kaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Rüdesheimer Kaffee" data-correct-state="true">
                            </div>
                            <div>Kaffee mit Weinbrand flambiert, mit einem Schlag Sahne, Vanillezucker und Schokoladestreusel</div>
                        </div>

                        <div class="elem">
                            <div>Türk Kahvesi</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Türk Kahvesi">
                            </div>
                            <div>feinst gemahlener Kaffee, mit Zucker im Kupferkännchen aufgekocht</div>
                        </div>

                        <div class="elem">
                            <div>Verkehrter</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Verkehrter">
                            </div>
                            <div>Kaffee mit 2/3 Milch und 1/3 Kaffee</div>
                        </div>

                        <div class="elem">
                            <div>Verlängerter</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Verlängerter">
                            </div>
                            <div>die Dosierung eines kleinen Schwarzen wird mit der Wassermenge eines großen Schwarzen zubereitet</div>
                        </div>

                        <div class="elem">
                            <div>Wiener Eiskaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Wiener Eiskaffee" data-correct-state="true">
                            </div>
                            <div>köstliches Vanilleeis, doppelter Mokka, Schlagobershaube, Kaffeebohne und Hohlhippe</div>
                        </div>
                        <div class="tableBottom"><a href class="send">Bestellen</a></div>
                    </div>
                    <br/>

                </form>
                <div class="navigation withPrev withNext"></div>

            </section>
            <section class="with-exercise">
                <h2 class="icon icon-exercise">Übung - Postkoordination</h2>
                <p>Sie können nun diese Tipps im Recherchecafé ausprobieren. Aber Achtung! Im Recherchecafé bekommen Sie nur das, was Sie bestellen, und das ist nicht immer das, was Sie auch wünschen.
                </p>
                <p>

                </p>
                <form class="exercise" data-incremental-exercise="2;4">

                    <div class="table">
                        <div class="tableHead">
                            Sie wünschen Kaffee oder Mokka mit Sahne oder Obers und <br/>
                            <span class="exercise">bestellen zunächst mit der Eingabe <span class="searchPhrase">kaffee</span>.<br/>
                            Bitte markieren Sie alles, was Sie bekommen.</span>
                            <span class="exercise">Bitte markieren Sie nun zusätzlich alles, was Sie mit der Eingabe <span class="searchPhrase">mokka</span> bekommen.</span>
                            <span class="exercise">Bitte markieren Sie nun zusätzlich alles, was Sie mit der Eingabe <span class="searchPhrase">sahne</span> bekommen.</span>
                            <span class="exercise">Bitte markieren Sie nun zusätzlich alles, was Sie mit der Eingabe <span class="searchPhrase">obers</span> bekommen.</span>
                            <div class="exerciseProgress"></div>
                        </div>
                        <div class="elem">
                            <div>Café au Lait</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Café au Lait" data-correct-state="0">
                            </div>
                            <div class="check">
                                <input disabled type="checkbox" name="drink" value="Café au Lait">
                            </div>
                            <div>Kaffee mit Milch in einer Boule, Zucker separat</div>
                        </div>

                        <div class="elem">
                            <div>Einspänner</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Einspänner">
                            </div>
                            <div class="check">
                                <input disabled type="checkbox" name="drink" value="Einspänner">
                            </div>
                            <div>Doppelmokka im Glas mit Schlagobershaube und Hohlhippe</div>
                        </div>

                        <div class="elem">
                            <div>Eiskaffee englisch</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Eiskaffee englisch" data-correct-state="0">
                            </div>
                            <div class="check">
                                <input disabled type="checkbox" name="drink" value="Eiskaffee englisch" data-correct-state="3">
                            </div>
                            <div>ein Drittel Kaffee, ein Drittel Eis, ein Drittel Obers</div>
                        </div>

                        <div class="elem">
                            <div>Fiaker</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Fiaker">
                            </div>
                            <div class="check">
                                <input disabled type="checkbox" name="drink" value="Fiaker">
                            </div>
                            <div>Doppelmokka im Henkelglas mit einem Schuss Kirschwasser gespritzt, mit Schlagobershaube und Cocktailkirsche</div>
                        </div>

                        <div class="elem">
                            <div>Franziskaner</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Franziskaner">
                            </div>
                            <div class="check">
                                <input disabled type="checkbox" name="drink" value="Franziskaner">
                            </div>
                            <div>leichte Melange mit Schlagobers und Schokostreuseln</div>
                        </div>

                        <div class="elem">
                            <div>Häferlkaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Häferlkaffee" data-correct-state="1">
                            </div>
                            <div class="check">
                                <input disabled type="checkbox" name="drink" value="Häferlkaffee">
                            </div>
                            <div>Großer Brauner (doppelter Mokka mit Kaffeeobers) im Häferl statt in der großen Schale</div>
                        </div>

                        <div class="elem">
                            <div>Kännchen Kaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Kännchen Kaffee" data-correct-state="0">
                            </div>
                            <div class="check">
                                <input disabled type="checkbox" name="drink" value="Kännchen Kaffee">
                            </div>
                            <div>Kaffee im Kännchen (ca. 2 Tassen), separat Kaffeesahne und Zucker</div>
                        </div>

                        <div class="elem">
                            <div>Kleiner Brauner</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Kleiner Brauner" data-correct-state="1">
                            </div>
                            <div class="check">
                                <input disabled type="checkbox" name="drink" value="Kleiner Brauner" data-correct-state="3">
                            </div>
                            <div>einfacher Mokka mit Milch oder Obers in kleiner Schale</div>
                        </div>

                        <div class="elem">
                            <div>Latte Macchiato</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Latte Macchiato">
                            </div>
                            <div class="check">
                                <input disabled type="checkbox" name="drink" value="Latte Macchiato">
                            </div>
                            <div>“gefleckte Milch”, aufgeschäumte warme Milch mit Espresso</div>
                        </div>

                        <div class="elem">
                            <div>Maria Theresia</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Maria Theresia" data-correct-state="1">
                            </div>
                            <div class="check">
                                <input disabled type="checkbox" name="drink" value="Maria Theresia">
                            </div>
                            <div>ein großer Mokka mit einem Schuss Orangenlikör, Schlagobershaube und verziert mit Orangenzesten</div>
                        </div>

                        <div class="elem">
                            <div>Melange</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Melange" data-correct-state="0">
                            </div>
                            <div class="check">
                                <input disabled type="checkbox" name="drink" value="Melange">
                            </div>
                            <div>halb Kaffee, halb heiße geschäumte Milch, mit Milchschaumhäubchen</div>
                        </div>

                        <div class="elem">
                            <div>Milchkaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Milchkaffee" data-correct-state="0">
                            </div>
                            <div class="check">
                                <input disabled type="checkbox" name="drink" value="Milchkaffee">
                            </div>
                            <div>Kaffee mit Milch(-Schaum)</div>
                        </div>

                        <div class="elem">
                            <div>Pharisäer</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Pharisäer" data-correct-state="0">
                            </div>
                            <div class="check">
                                <input disabled type="checkbox" name="drink" value="Pharisäer" data-correct-state="2">
                            </div>
                            <div>schwarzer Kaffee mit Rum und einer Haube Schlagsahne überdeckt mit Schokoraspeln auf der Sahne serviert</div>
                        </div>

                        <div class="elem">
                            <div>Rüdesheimer Kaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Rüdesheimer Kaffee" data-correct-state="0">
                            </div>
                            <div class="check">
                                <input disabled type="checkbox" name="drink" value="Rüdesheimer Kaffee" data-correct-state="2">
                            </div>
                            <div>Kaffee mit Weinbrand flambiert, mit einem Schlag Sahne, Vanillezucker und Schokoladestreusel</div>
                        </div>

                        <div class="elem">
                            <div>Türk Kahvesi</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Türk Kahvesi" data-correct-state="0">
                            </div>
                            <div class="check">
                                <input disabled type="checkbox" name="drink" value="Türk Kahvesi">
                            </div>
                            <div>feinst gemahlener Kaffee, mit Zucker im Kupferkännchen aufgekocht</div>
                        </div>

                        <div class="elem">
                            <div>Verkehrter</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Verkehrter" data-correct-state="0">
                            </div>
                            <div class="check">
                                <input disabled type="checkbox" name="drink" value="Verkehrter">
                            </div>
                            <div>Kaffee mit 2/3 Milch und 1/3 Kaffee</div>
                        </div>

                        <div class="elem">
                            <div>Verlängerter</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Verlängerter">
                            </div>
                            <div class="check">
                                <input disabled type="checkbox" name="drink" value="Verlängerter">
                            </div>
                            <div>die Dosierung eines kleinen Schwarzen wird mit der Wassermenge eines großen Schwarzen zubereitet</div>
                        </div>

                        <div class="elem">
                            <div>Wiener Eiskaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Wiener Eiskaffee" data-correct-state="1">
                            </div>
                            <div class="check">
                                <input disabled type="checkbox" name="drink" value="Wiener Eiskaffee">
                            </div>
                            <div>köstliches Vanilleeis, doppelter Mokka, Schlagobershaube, Kaffeebohne und Hohlhippe</div>
                        </div>
                        <div class="tableBottom"><a href class="send">Bestellen</a></div>
                    </div>
                    <br/>

                </form>
                <div class="navigation withPrev withNext"></div>

            </section>
        </section>

        <section>
            <h2 class="icon icon-information">Phrasenbildung</h2>
            <p>
                Die Phrasensuche kennen Sie aus dem Umgang mit Suchmaschinen: Wenn Sie eine bestimmte Wortfolge in Anführungszeichen setzen, bekommen Sie Treffer, in denen genau diese Wortfolge
                vorkommt. Wenn Sie die Anführungszeichen weglassen, bekommen Sie hingegen Treffer, in denen die Worte unabhängig von der Reihenfolge vorkommen.
            </p>
            <p>
                Manche Ressourcen erlauben das Setzen eines Trunkierungszeichens (Wildcard-Operator, Joker, Platzhalter, s.o.) innerhalb der Phrasensuche. Es ersetzt dann nicht einen oder mehrere
                Buchstaben, sondern ein Wort. Es gibt auch gelegentlich Abstandsoperatoren, mit denen Sie den Abstand festlegen können, der maximal zwischen zwei Teilen einer Phrase liegen darf. Bitte
                lesen Sie die Hilfetexte der jeweiligen Ressource, um diese Suchformulierung zu erfahren.
            </p>
            <h4 class="icon icon-example">
                Beispiele
            </h4>
            <p>
                Mit der Eingabe „grundzüge der volkswirtschaftslehre" im Feld alle Wörter erhalten Sie u.a.
            </p>
            <ul>
                <li>
                    Mankiw: Grundzüge der Volkswirtschaftslehre
                </li>
                <li>
                    Wienert: Grundzüge der Volkswirtschaftslehre
                </li>
                <li>
                    Hermann: Arbeitsbuch Grundzüge der Volkswirtschaftslehre
                </li>
            </ul>
            <p>
                Mit der Eingabe „gesellschaft * medien“ erhalten Sie beispielsweise:
            </p>
            <ul>
                <li>
                    Müller: Gesellschaft und Medien
                </li>
                <li>
                    Ziemann: Medien der Gesellschaft – Gesellschaft der Medien
                </li>
                <li>
                    Gottwald: Alte Gesellschaft – neue Medien
                </li>
                <li>
                    Langenbucher: Gesellschaft, elektronische Medien und Demokratie
                </li>
                <li>
                    <strong>Aber nicht:</strong> Kamps: Die offene Gesellschaft und ihre Medien, wenn * nur ein Wort ersetzt.
                </li>
            </ul>
            <div class="navigation withPrev withNext"></div>

        </section>

        <section>
            <section>
                <h2 class="icon icon-information">Schlagwort</h2>
                <p>
                    Manche Ressourcen bieten eine Schlagwortsuche an, auf Englisch werden dafür die Benennungen „Descriptor“, „Subject (Term)“ und gelegentlich „Keyword“ benutzt.
                </p>
                <p>
                    Gemeint ist damit, dass eine Indexiererin oder ein Indexierer den Inhalt eines Dokuments mit Schlagworten beschreibt, die unabhängig von der Terminologie des Dokuments sind. Die
                    Schlagworte werden einer Wortliste mit kontrolliertem Vokabular (einem Thesaurus) entnommen und sind damit standardisiert. So wird in deutschsprachigen Schlagwortsystemen durchweg
                    die Einzahl verwendet, in englischsprachigen überwiegend die Mehrzahl. Homonyme werden durch Zusätze eindeutig gemacht („Krebs &lt;Tier&gt;“, „Krebs &lt;Erkrankung&gt;“) und
                    Synonyme werden vermieden.
                </p>
                <p>
                    Die Suche mit Schlagworten führt zu besseren Ergebnissen, weil nach Inhalten gesucht wird und nicht nach Begriffen, die zufällig auch in dem Dokument vorkommen, aber wenig mit dem
                    Inhalt des Dokuments zu tun haben.
                </p>
                <p>
                    Welches Schlagwort für welchen Zusammenhang benutzt wird, erfahren Sie beispielsweise, indem Sie mit Stichworten Zufallstreffer erzielen und die Schlagworte, die für diese
                    Zufallstreffer vergeben wurden, notieren und mit ihnen eine neue Suche starten.
                </p>
                <h4 class="icon icon-example">
                    Beispiele
                </h4>
                <p>
                    Mit der Eingabe <span class="searchPhrase">total quality management</span> im Feld "alle Wörter" finden Sie u.a.
                </p>
                <ul>
                    <li>
                        Mankiw: Grundzüge der Volkswirtschaftslehre
                    </li>
                </ul>
                <p>
                    Mit der Eingabe <span class="searchPhrase">Qualitätsmanagement</span> im Feld "Schlagwort" finden Sie auch
                </p>
                <ul>
                    <li>
                        Pfaff: ISO 9001:2008 : Basis für praxisgerechte Managementsysteme
                    </li>
                    <li>
                        Osterhage: Abnahme komplexer Software-Systeme : das Praxishandbuch
                    </li>
                    <li>
                        Feldmann: Montage in der Leistungselektronik für globale Märkte : Design, Konzepte, Strategien
                    </li>
                </ul>
                <div class="navigation withPrev withNext"></div>

            </section>
            <section class="with-exercise">
                <h2 class="icon icon-exercise">Übung</h2>
                <p>Sie können nun diese Tipps im Recherchecafé ausprobieren. Aber Achtung! Im Recherchecafé bekommen Sie nur das, was Sie bestellen, und das ist nicht immer das, was Sie auch wünschen.
                </p>
                <p>

                </p>
                <form class="exercise">

                    <div class="table">
                        <div class="tableHead">
                            Sie wünschen Kaffee im Glas und bestellen<br/>
                            mit der Eingabe <span class="searchPhrase">Schlagwort = Kaffee UND Schlagwort = Glas</span>.<br/>
                            Bitte markieren Sie alles, was Sie bekommen.
                        </div>
                        <div class="elem">
                            <div>Café au Lait</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Café au Lait">
                            </div>
                            <div>
                                Kaffee mit Milch in einer Boule, Zucker separat<br/>
                                <i>Schlagworte: Kaffee, Milch, Schale, Zucker</i>
                            </div>
                        </div>

                        <div class="elem">
                            <div>Einspänner</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Einspänner">
                            </div>
                            <div>
                                Doppelmokka im Glas mit Schlagobershaube und Hohlhippe<br/>
                                <i>Schlagworte: Glas, Mokka, Schlagsahne, Waffel</i>
                            </div>
                        </div>

                        <div class="elem">
                            <div>Eiskaffee englisch</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Eiskaffee englisch" data-correct-state="true">
                            </div>
                            <div>
                                ein Drittel Kaffee, ein Drittel Eis, ein Drittel Obers<br/>
                                <i>Schlagworte: Eis, Glas, Kaffee, Schlagsahne</i>
                            </div>
                        </div>

                        <div class="elem">
                            <div>Fiaker</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Fiaker">
                            </div>
                            <div>
                                Doppelmokka im Henkelglas mit einem Schuss Kirschwasser gespritzt, mit Schlagobershaube und Cocktailkirsche<br/>
                                <i>Schlagworte: Cocktailkirsche, Glas, Kirschwasser, Mokka, Schlagsahne</i>
                            </div>
                        </div>

                        <div class="elem">
                            <div>Franziskaner</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Franziskaner" data-correct-state="true">
                            </div>
                            <div>
                                leichte Melange mit Schlagobers und Schokostreuseln<br/>
                                <i>Schlagworte: Glas, Kaffee, Milch, Schlagsahne, Schokolade</i>
                            </div>
                        </div>

                        <div class="elem">
                            <div>Häferlkaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Häferlkaffee">
                            </div>
                            <div>
                                Großer Brauner (doppelter Mokka mit Kaffeeobers) im Häferl statt in der großen Schale<br/>
                                <i>Schlagworte: Becher, Kaffeesahne, Mokka</i>
                            </div>
                        </div>

                        <div class="elem">
                            <div>Kännchen Kaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Kännchen Kaffee">
                            </div>
                            <div>
                                Kaffee im Kännchen (ca. 2 Tassen), separat Kaffeesahne und Zucker<br/>
                                <i>Schlagworte: Kaffee, Kaffeesahne, Kaffeekanne, Tasse, Zucker</i>
                            </div>
                        </div>

                        <div class="elem">
                            <div>Kleiner Brauner</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Kleiner Brauner">
                            </div>
                            <div>
                                einfacher Mokka mit Milch oder Obers in kleiner Schale<br/>
                                <i>Schlagworte: Kaffeesahne, Mokka, Tasse</i>
                            </div>
                        </div>

                        <div class="elem">
                            <div>Latte Macchiato</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Latte Macchiato">
                            </div>
                            <div>
                                “gefleckte Milch”, aufgeschäumte warme Milch mit Espresso<br/>
                                <i>Schlagworte: Espresso, Glas, Milch</i>
                            </div>
                        </div>

                        <div class="elem">
                            <div>Maria Theresia</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Maria Theresia">
                            </div>
                            <div>
                                ein großer Mokka mit einem Schuss Orangenlikör, Schlagobershaube und verziert mit Orangenzesten<br/>
                                <i>Schlagworte: Apfelsinenschale, Glas, Mokka, Orangenlikör, Schlagsahne</i>
                            </div>
                        </div>

                        <div class="elem">
                            <div>Melange</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Melange" data-correct-state="true">
                            </div>
                            <div>
                                halb Kaffee, halb heiße geschäumte Milch, mit Milchschaumhäubchen<br/>
                                <i>Schlagworte: Glas, Kaffee, Milch</i>
                            </div>
                        </div>

                        <div class="elem">
                            <div>Pharisäer</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Pharisäer">
                            </div>
                            <div>
                                schwarzer Kaffee mit Rum und einer Haube Schlagsahne überdeckt mit Schokoraspeln auf der Sahne serviert<br/>
                                <i>Schlagworte: Becher, Kaffee, Rum, Schlagsahne, Schokolade</i>
                            </div>
                        </div>

                        <div class="elem">
                            <div>Rüdesheimer Kaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Verkehrter" data-correct-state="true">
                            </div>
                            <div>
                                Kaffee mit Weinbrand flambiert, mit einem Schlag Sahne, Vanillezucker und Schokoladestreusel<br/>
                                <i>Schlagworte: Glas, Kaffee, Schlagsahne, Schokolade, Vanillezucker, Weinbrand</i>
                            </div>
                        </div>

                        <div class="elem">
                            <div>Türk Kahvesi</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Verlängerter">
                            </div>
                            <div>
                                feinst gemahlener Kaffee, mit Zucker im Kupferkännchen aufgekocht<br/>
                                <i>Schlagworte: Kaffee, Kupferkanne, Tasse, Zucker</i>
                            </div>
                        </div>

                        <div class="elem">
                            <div>Wiener Eiskaffee</div>
                            <div class="check">
                                <input type="checkbox" name="drink" value="Wiener Eiskaffee">
                            </div>
                            <div>
                                köstliches Vanilleeis, doppelter Mokka, Schlagobershaube, Kaffeebohne und Hohlhippe<br/>
                                <i>Schlagworte: Glas, Kaffeebohne, Mokka, Schlagsahne, Vanilleeis, Waffel</i>
                            </div>
                        </div>
                        <div class="tableBottom"><a href class="send">Bestellen</a></div>
                    </div>
                    <br/>

                </form>
                <div class="navigation withPrev withNext"></div>

            </section>
        </section>
        <section>
            <section>
                <h2 class="icon icon-information">Klassifikation</h2>
                <p>
                    Manche Ressourcen bieten die Suchmöglichkeit mit der Hilfe einer Klassifikation oder Systematik (classification, subject). Dafür ordnet eine Indexiererin oder ein Indexierer die
                    Dokumente in Klassen an. Jedes Dokument in einer Klasse hat dabei mindestens ein inhaltliches Merkmal, das es mit allen Dokumenten der Klasse gemeinsam hat und das sich
                    unterscheidet von den Merkmalen der Dokumente der anderen Klassen. Jede Klasse hat eine eigene Benennung, die mit einer Notation verschlüsselt wird.
                </p>
                <p>
                    Sie kennen Systematiken als Stammbaum in der Biologie und als Aufstellungssystematik in der Bibliothek. Wenn Sie ein Buch im Regal gefunden haben, das inhaltlich Ihren
                    Vorstellungen entspricht, dann sehen Sie sich auch die Bücher links und rechts von dem gefundenen an, denn die behandeln wahrscheinlich das gleiche Thema.
                </p>
                <p>
                    In einer Bibliothek steht ein Buch immer nur an einer Stelle, auch wenn es inhaltlich an zwei Stellen stehen könnte. In virtuellen Systematiken kann ein Dokument auch mehreren
                    Klassen zugeordnet werden. Sie suchen mit der Hilfe einer Klassifikation, ähnlich wie mit Schlagworten, nach Inhalten und nicht nach zufälligen Stichworten. Die klassifikatorische
                    Suche wird zumeist als Unterstützung anderer Recherchen eingesetzt, beispielsweise zur Einschränkung einer großen Treffermenge auf einen fachlichen Zusammenhang.
                </p>
                <h4 class="icon icon-example">
                    Beispiel
                </h4>
                <p>
                    Mit der Eingabe <span class="searchPhrase">Qualitätsmanagement</span> im Feld "alle Wörter" finden Sie u.a.
                </p>
                <ul>
                    <li>
                        Qualitätsmanagement DIN EN ISO 9000 ff : Dokumentensammlung – mit der Signatur „Bwl 024 118“
                    </li>
                </ul>
                <p>
                    Die Klasse mit der Notation Bwl 024 wurde Qualitätsmanagement benannt. In den Regalen mit der Bezeichnung Bwl 024 finden Sie also Bücher zum gleichen Thema und zwar nur die, die
                    nicht ausgeliehen sind. Im Katalog können Sie zusätzlich feststellen, welche Bücher zum Thema derzeit ausgeliehen sind.
                </p>
                <p>
                    Mit der Eingabe <span class="searchPhrase">Bwl 024*</span> (Trunkierung) in das Suchfeld "Signatur" erhalten Sie alle Treffer, die der Klasse Qualitätsmanagement zugeordnet wurden,
                    u.a.
                </p>
                <ul>
                    <li>
                        Suganthi: Total Quality Management
                    </li>
                    <li>
                        European Foundation for Quality Management: Excellence einführen
                    </li>
                    <li>
                        Loch: Industrial excellence : management quality in manufacturing
                    </li>
                </ul>
                <div class="navigation withPrev withNext"></div>

            </section>
            <section class="with-exercise">
                <h2 class="icon icon-exercise">Übung</h2>
                <p>
                    Sie können nun diese Tipps im Recherchecafé ausprobieren. Aber Achtung! Im Recherchecafé bekommen Sie nur das, was Sie bestellen, und das ist nicht immer das, was Sie auch
                    wünschen.
                </p>
                <p>

                </p>
                <form class="exercise" data-multi-exercise="true">

                    <div class="table">
                        <div class="tableHead">
                            Markieren Sie nun für folgende Spezialität die richtige Klasse:<br/>
                            <span class="exercise"><b>Türk Kahvesi</b> - <i>feinst gemahlener Kaffee, mit Zucker im Kupferkännchen aufgekocht</i></span>
                            <span class="exercise"><b>Wiener Eiskaffee</b> - <i>köstliches Vanilleeis, doppelter Mokka, Schlagobershaube, Kaffeebohne und Hohlhippe</i></span>
                            <span class="exercise"><b>Fiaker</b> - <i>Doppelmokka im Henkelglas mit einem Schuss Kirschwasser gespritzt, mit Schlagobershaube und Cocktailkirsche</i></span>
                            <div class="exerciseProgress"></div>
                        </div>
                        <div class="elem">
                            <div class="check">
                                <input type="checkbox" name="drink" value="K">
                            </div>
                            <div>
                                <b>K</b> Kaffee
                            </div>
                        </div>

                        <div class="elem">
                            <div class="check">
                                <input type="checkbox" name="drink" value="K1" data-correct-state="0">
                            </div>
                            <div>
                                <b>____ K1</b> schwarz oder mit Süßungsmitteln
                            </div>
                        </div>

                        <div class="elem">
                            <div class="check">
                                <input type="checkbox" name="drink" value="K2">
                            </div>
                            <div>
                                <b>____ K2</b> mit Milchprodukten
                            </div>
                        </div>

                        <div class="elem">
                            <div class="check">
                                <input type="checkbox" name="drink" value="K21">
                            </div>
                            <div>
                                <b>________ K21</b> mit Milch
                            </div>
                        </div>

                        <div class="elem">
                            <div class="check">
                                <input type="checkbox" name="drink" value="K22">
                            </div>
                            <div>
                                <b>________ K22</b> mit Kaffeesahne
                            </div>
                        </div>

                        <div class="elem">
                            <div class="check">
                                <input type="checkbox" name="drink" value="K23">
                            </div>
                            <div>
                                <b>________ K23</b> mit Schlagsahne
                            </div>
                        </div>

                        <div class="elem">
                            <div class="check">
                                <input type="checkbox" name="drink" value="K24" data-correct-state="1">
                            </div>
                            <div>
                                <b>________ K24</b> mit Eis und Schlagsahne
                            </div>
                        </div>

                        <div class="elem">
                            <div class="check">
                                <input type="checkbox" name="drink" value="K3">
                            </div>
                            <div>
                                <b>____ K3</b> mit Alkohol
                            </div>
                        </div>

                        <div class="elem">
                            <div class="check">
                                <input type="checkbox" name="drink" value="K31">
                            </div>
                            <div>
                                <b>________ K31</b> mit Likör
                            </div>
                        </div>

                        <div class="elem">
                            <div class="check">
                                <input type="checkbox" name="drink" value="K32">
                            </div>
                            <div>
                                <b>________ K32</b> mit Branntwein
                            </div>
                        </div>

                        <div class="elem">
                            <div class="check">
                                <input type="checkbox" name="drink" value="K321">
                            </div>
                            <div>
                                <b>____________ K321</b> mit Rum
                            </div>
                        </div>

                        <div class="elem">
                            <div class="check">
                                <input type="checkbox" name="drink" value="K322">
                            </div>
                            <div>
                                <b>____________ K322</b> mit Weinbrand
                            </div>
                        </div>

                        <div class="elem">
                            <div class="check">
                                <input type="checkbox" name="drink" value="K4">
                            </div>
                            <div>
                                <b>____ K4</b> mit Milchprodukten und Alkohol
                            </div>
                        </div>

                        <div class="elem">
                            <div class="check">
                                <input type="checkbox" name="drink" value="K41">
                            </div>
                            <div>
                                <b>________ K41</b> mit Kaffeesahne und Alkohol
                            </div>
                        </div>

                        <div class="elem">
                            <div class="check">
                                <input type="checkbox" name="drink" value="K412">
                            </div>
                            <div>
                                <b>________ K412</b> mit Kaffeesahne und Likör
                            </div>
                        </div>

                        <div class="elem">
                            <div class="check">
                                <input type="checkbox" name="drink" value="K4121">
                            </div>
                            <div>
                                <b>____________ K4121</b> mit Kaffeesahne und Rum
                            </div>
                        </div>

                        <div class="elem">
                            <div class="check">
                                <input type="checkbox" name="drink" value="K4122">
                            </div>
                            <div>
                                <b>____________ K4122</b> mit Kaffeesahne und Weinbrand
                            </div>
                        </div>

                        <div class="elem">
                            <div class="check">
                                <input type="checkbox" name="drink" value="K4123">
                            </div>
                            <div>
                                <b>____________ K4123</b> mit Kaffeesahne und Kirschwasser
                            </div>
                        </div>

                        <div class="elem">
                            <div class="check">
                                <input type="checkbox" name="drink" value="K42">
                            </div>
                            <div>
                                <b>____ K42</b> mit Schlagsahne und Alkohol
                            </div>
                        </div>

                        <div class="elem">
                            <div class="check">
                                <input type="checkbox" name="drink" value="K421">
                            </div>
                            <div>
                                <b>________ K421</b> mit Schlagsahne und Likör
                            </div>
                        </div>

                        <div class="elem">
                            <div class="check">
                                <input type="checkbox" name="drink" value="K422">
                            </div>
                            <div>
                                <b>________ K422</b> mit Schlagsahne und Branntwein
                            </div>
                        </div>

                        <div class="elem">
                            <div class="check">
                                <input type="checkbox" name="drink" value="K4221">
                            </div>
                            <div>
                                <b>____________ K4221</b> mit Schlagsahne und Rum
                            </div>
                        </div>

                        <div class="elem">
                            <div class="check">
                                <input type="checkbox" name="drink" value="K4222">
                            </div>
                            <div>
                                <b>____________ K4222</b> mit Schlagsahne und Weinbrand
                            </div>
                        </div>

                        <div class="elem">
                            <div class="check">
                                <input type="checkbox" name="drink" value="K4223" data-correct-state="2">
                            </div>
                            <div>
                                <b>____________ K4223</b> mit Schlagsahne und Kirschwasser
                            </div>
                        </div>
                        <div class="tableBottom"><a href class="send">Bestellen</a></div>
                    </div>
                    <br/>

                </form>
                <div class="navigation withPrev withNext"></div>

            </section>
        </section>

        <section>
            <section>
                <h2>Danke</h2>
                <p>
                    ...und zur Entspannung der Magennerven...
                </p>
                <img src="img/greenTea.jpg"/>
                <h4>
                    Vielen Dank !
                </h4>
                <div class="navigation withPrev withNext"></div>

            </section>
            <section class="withLogo">
                <h2>Impressum</h2>
                <img src="img/Detlev_Dannenberg.jpg"/>
                <p>
                    <strong>Detlev Dannenberg</strong><br/>
                    Hochschule für Angewandte Wissenschaften Hamburg<br/>
                    Hochschulinformations- und Bibliotheksservice<br/>
                    E-Mail: detlev.dannenberg(@)haw-hamburg.de
                </p>
                <p>
                    <strong>Projekt:</strong> Hamburg Open Online University
                </p>
                <p>
                    <strong>Autor:</strong> Detlev Dannenberg
                </p>
                <p>
                    <strong>Design:</strong> Stefanie Körner
                </p>
                <p>
                    <strong>Produktion:</strong> Jakob Kopczynski
                </p>
                <p>
                    <strong>Icons:</strong> <a href="http://www.flaticon.com/packs/material-design">Material UI by Google</a>
                </p>
                <p>
                    ursprünglich produziert im Rahmen des Projekts "Competence Cluster Medienkonzeption und netzgestütztes Lehren und Lernen CCM>L", finanziert durch Studiengebühren der Hochschule für
                    Angewandte Wissenschaften Hamburg.
                </p>
                <p>
                    <strong>CCM>L Projektleiter:</strong> Professor Dr. Wolfgang H. Swoboda, M.A.
                </p>
                <p>
                    <strong>Lizenz:</strong><br/>
                    <strong>Inhalt:</strong> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a><br/>
                    <strong>Code:</strong> <a href="https://opensource.org/licenses/MIT">MIT</a>

                    <br/>
                    <img height="100" src="img/by-nc-sa.eu.png"/>
                </p>
                <div class="navigation withPrev withNext"></div>

            </section>
            <section>
                <h2>Feedback</h2>
                <div class="feedbackArea">
                    <div class="coordinates active">

                    </div>
                </div>
            </section>
        </section>

    </div>

</div>


<script src="js/module.js"></script>
</body>
</html>