<!DOCTYPE html>
<html lang="{{lang.de}}">
<head>
    <meta charset="UTF-8">
    <title>Grundlagenmodul Recherekompetenz</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="style.css">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    <script src="js/jquery-3.1.1.min.js"></script>
</head>

<body>

<div class="reveal">
    <script src="dependencies/reveal.js/lib/js/head.min.js"></script>
    <script src="dependencies/reveal.js/js/reveal.js"></script>

    <div class="slides">

        {{> page1 }}

        <section>

            {{> page2 }}
            {{> page3 }}
            {{> page4 }}
            {{> page5 }}

        </section>
        <section>

            {{> page6 }}
            {{> page7 }}

        </section>
        <section>

            {{> page8 }}
            {{> page9 }}
            {{> page10 }}
            {{> page11 }}
            {{> page12 }}
            {{> page13 }}
            {{> page14 }}

        </section>

        {{> page15 }}

        <section>

            {{> page16 }}
            {{> page17 }}

        </section>
        <section>

            {{> page18 }}
            {{> page19 }}

        </section>

        <section>

            {{> page20 }}
            {{> page21 }}
            {{> page22 }}

        </section>

    </div>

</div>

<script src="https://www.baqend.com/js-sdk/latest/baqend.min.js"></script>
<script src="js/module.js"></script>
</body>
</html>