<section>
    {{#with page.[14]}}
    <h2 class="icon icon-information">{{headline}}</h2>
    <p>
        {{intro}}
    </p>
    <p>
        {{explanation}}
    </p>
    <h4 class="icon icon-example">
        {{exampleHeadline}}
    </h4>
    <p>
        {{& exampleExplanation}}
    </p>
    <ul>
        {{#each exampleResults}}
        <li>
            {{& .}}
        </li>
        {{/each}}
    </ul>
    <p></p>
    <p>
        {{& examplePlusExplanation}}
    </p>
    <ul>

        {{#each examplePlusResults}}
        <li>
            {{& .}}
        </li>
        {{/each}}
    </ul>
    {{/with}}
    {{> pageNavigationFull}}
</section>