<section>
    {{#with page.[19]}}
    <h2>{{headline}}</h2>
    <p>
        {{relax}}
    </p>
    <img src="img/greenTea.jpg"/>
    <p>
        {{thanks}}
    </p>
    {{/with}}
    {{> pageNavigationFull}}
</section>