<section>
    <h2 class="icon icon-information">{{page.[1].headline}}</h2>
    {{#if lang.de}}
    <p>
        Zu Beginn Ihrer Recherche sollten Sie sich verdeutlichen, ob Sie formal oder inhaltlich (sachlich, thematisch) suchen:
    </p>
    <h3>Formale Suche</h3>
    <p>
        Bei einer formalen Suche haben Sie (mehr oder weniger vollständige) Angaben einer Quelle, z.B. aus einer Literaturliste oder durch den Tipp eines Professors. Die genaue Eingabe
        dieser Angaben führt schnell zu einem Nachweis, ob diese Quelle für Sie verfügbar ist. Die meisten Ressourcen tolerieren allerdings keine Tippfehler.
    </p>
    <h3>Inhaltliche Suche</h3>
    <p>
        Bei einer inhaltlichen Suche kennen Sie die Quelle nicht genau und wissen nicht, ob Sie die richtigen Suchbegriffe gewählt haben, ob es überhaupt Quellen zu dem gesuchten Thema
        gibt, und wenn ja, wie viele.
    </p>
    <h3>Feldbezogene Suche</h3>
    <p>
        Die meisten Ressourcen bieten neben der Freitextsuche in allen Feldern - zumindest in der Option „erweiterte Suche“ - eine feldbezogene Suche an. In der formalen Suche ist die
        Nutzung des Feldes "Autor" vorteilhaft, wenn der Autorenname auch ein Titelstichwort sein kann. In der inhaltlichen Suche ist die Nutzung der Felder "Schlagwort" und
        "Klassifikation" vorteilhaft. Dazu mehr in späteren Abschnitten.
    </p>
    <p>
        Auf der folgenden Seite finden Sie Beispiele für formale Suchen.
    </p>
    {{/if}}
    {{> pageNavigationFull }}
</section>