@import "../../public/dependencies/reveal.js/css/reveal.css";
@import "../../public/dependencies/reveal.js-menu/menu.css";
@import "../../public/dependencies/reveal.js/css/theme/white.css";
@import "./feedback.scss";

div.reveal {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-family: sans-serif;
  font-size: 34px;

  .progress {
    pointer-events: none;
  }

  .scrollable-slide {
    padding-right: 60px !important;
    overflow-y: auto !important;

    > *:last-child {
      margin-bottom: 40px;
    }

  }

  .slide-menu-toolbar > li:first-child {
    display: none;
  }

  .slide-menu-panel {
    height: calc(100% - 120px);
  }

  p {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .searchPhrase {
    background-color: #ddd;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    font-style: italic;
  }

  .fieldName {
    font-weight: bold;
    font-style: italic;
  }

  .extraPaddingBottom {
    padding-bottom: 20px;
  }

  .extraPaddingTop {
    padding-bottom: 20px;
  }

  h1, h2, h3, h4 {
    text-transform: initial;
    margin-top: 40px;
    margin-bottom: 0px;

  }

  section {

    > .navigation {
      font-size: 1.2em;
      font-weight: bold;
      padding-top: 30px;
      > a {
        text-decoration: none;
        font-style: normal;
        vertical-align: middle;

        display: none;

        > span {
          font-size: 1.4em;
          vertical-align: middle;
        }

      }

      &.withPrev.withNext > a {

        &:first-child {
          padding-right: 30px;
        }
        &:last-child {
          padding-left: 30px;
        }
      }

      &.withPrev > a:first-child, &.withNext > a:last-child {
        display: inline;
      }
    }

    &.withLogo {
      background: url('../../public/img/hoou.png') 95% 5% no-repeat;
    }

    img {
      border: 0;
      background: none;
      box-shadow: none;
    }

    > .icon {
      &:before {
        content: "";
        height: 55px;
        width: 55px;
        left: 0px;
        position: absolute;
      }

      &.icon-target {
        &:before {
          background: url('../../public/img/icons/target.png') no-repeat;
        }

      }
      &.icon-exercise {
        &:before {
          background: url('../../public/img/icons/exercise.png') no-repeat;
        }

      }
      &.icon-information {
        &:before {
          background: url('../../public/img/icons/information.png') no-repeat;
        }

      }
      &.icon-example {
        &:before {
          background: url('../../public/img/icons/example.png') no-repeat;
        }

      }
    }
  }

  li.noBullet {
    list-style-type: none;
  }

  div.slides {
    font-size: 50%;
    margin: 0px;
    text-align: justify;

    section {
      height: 100%;
      padding: 0;

      &.with-exercise > * {
        max-width: 1000px;

      }

      form.exercise {
        position: relative;
        margin-left: 60px;
        padding-left: 0px;

        div.resultOverlay {
          background-size: contain;
          border-radius: 20px;
          cursor: pointer;

          &.correct {
            background: rgb(146, 208, 80);
          }
          &.wrong {
            background: rgb(232, 84, 84);
          }

          .searchPhrase, .fieldName {
            font-weight: bold;
            font-style: italic;
            background-color: transparent;
          }

          div {
            position: absolute;
            color: #ffffff;
            font-size: 3em;
            font-weight: bolder;

            &.feedback {
              font-size: 1.5em;
              font-weight: bold;
              padding: 30px;
            }

            &.waiter {
              background: url('../../public/img/coffee/waiter.gif') no-repeat center center;
              width: 355px;
              height: 380px;
              bottom: -2px;
              left: 200px;
            }

            &.cup {
              background: url('../../public/img/coffee/cup_big.gif') no-repeat center center;
              width: 72px;
              height: 48px;
              left: 420px;
              bottom: 255px;
            }

            &.smoke {
              background: url('../../public/img/coffee/smoke.gif') no-repeat left center;
              width: 180px;
              height: 248px;
              left: 380px;
              bottom: 260px;
            }

            &.retry, &.next {
              bottom: 60px;
              right: 40px;
            }

            &.correct, &.wrong {
              top: 100px;
              left: 100px;
            }
          }

        }

        table {
          font-size: 0.9em;
          width: 100%;
          border: black 2px solid;
          border-collapse: separate;
          border: none;

          div.exerciseProgress {
            position: absolute;
            right: 12px;
            top: 12px;
            font-size: 1.3em;
            font-weight: bold;
          }

          th {

            border: black 2px solid;
            font-weight: normal;
          }

          thead tr th {
            padding: 8px 60px 8px 20px;
            border-radius: 20px 20px 0px 0px;

            &.afterAllDone {
              display: none;
            }
          }

          tfoot tr th {
            padding: 8px 16px;
            text-align: right;
            text-transform: uppercase;
            border-radius: 0px 0px 20px 20px;
            font-size: 1.2em;
            height: 30px;

            .reset {
              display:none;
              float:left;
            }
          }

          tbody tr {
            line-height: 1.4em;

            &:nth-child(even) {
              background: #DDD;
            }

            &.wrongChecked {
              td:first-child {
                background: url('../../public/img/error.png') no-repeat left 4px center;
              }
            }

            &.correctChecked {
              td:first-child {
                background: url('../../public/img/success.png') no-repeat left 4px center;
              }
            }

            &.incrementalFinalResult {
              font-weight: bold;
            }

            td {

              cursor: pointer;
              padding: 2px;
              vertical-align: middle;

              &:first-child {
                border-left: black 2px solid;
              }
              &:last-child {
                border-right: black 2px solid;
              }

              &.check {
                width: 25px;
              }

              &:first-child {
                padding-left: 16px;
                text-align: right;
                white-space: nowrap;
                font-size: 1.1em;
              }

              &:last-child {
                padding-right: 16px;
                font-size: .9em;
              }
            }
          }
        }
      }
    }

    > section {
      margin-left: 320px !important; //distance main area left side of window

      > :not(section), > section > :not(section) {
        padding-left: 60px;
      }
    }
  }

  .slide-menu {
    i.fa {
      float: left;
      padding-right: 8px;
    }
    .slide-menu-item-title {
      margin-left: 25px;
      display: block;
    }

    img.nav-flag {
      width: 30px;
    }
  }
}